/* Sass Document */

$blog-font-stack:  'HelveticaNeue-Light', 'Helvetica-Light',  Helvetica, Arial, sans-serif;
$fontScript: 'Dancing Script', cursive;
$blog-font-size : 16px;
$line-height: $blog-font-size  * 1.6;

/* Sass Document */

$font-stack:  'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif;

$fontScript: 'Dancing Script', cursive;
$font-size: 16px;
$line-height: $font-size * 1.6;
$h1-size: $font-size * 2; 
$h2-size: $font-size * 1.8; 
$h3-size: $font-size * 1.5; 
$h4-size: $font-size * 1.2; 
$h5-size: $font-size * 1; 
$h6-size: $font-size * .8; 


$lt_gray_border: solid 1px xlt_gray;
$md_gray_border: solid 1px md_gray;
$panel_border: #d7d7d7;

/*$size1: $font-size * .5625;  
$size2: $font-size * .6875; 
$size3: $font-size * .75; 
$size4: $font-size * .875; 
$size5: $font-size * 1.125; 
$size6: $font-size * 1.25; 
$size7: $font-size * 1.375; 
$size8: $font-size * 1.5; 
$size9: $font-size * 1.75; 
$size10: $font-size * 2; 
$size11: $font-size * 2.25; 
$size12: $font-size * 2.5; 
$size13: $font-size * 2.75; */

$xlt_aqua:  #ebf2f1;
$lt_aqua: #cbd9d9;
$md_aqua: #94BAB3;
$dk_aqua: #63726f;
$text_aqua: #8CAFA9;
$xdk_aqua:  #1f4645;
$aqua_border: #cad7d6;

$xlt_violet: #f0f3fa;
$lt_violet:  #d2d6ec;
$md_violet: #ABB2D6;
$dk_violet: #5c699b;
$xdk_violet: #31395b;

$xlt_gray: #eee;
$lt_gray:    #cacaca;
$md_gray: #9a9a9a;
$dk_gray: #232323;
$xdk_gray: #2d2d2d;
$text_gray: #777;


$xlt_green: #e9fee9;
$lt_green: #dbead3;
$md_green: #418c41;
$dk_green: #266b2c;
$xdk_green: #1b471f;

$xlt_orange: #fce4c3;
$lt_orange: #ecc690;
$md_orange:  #f0ad4e;
$dk_orange: #CF8010;
$xdk_orange: #C77D16;

$xlt_red: #f7e5e2;
$lt_red: #edcbc6;
$md_red:  #933f32;
$dk_red: #7f1418;
$xdk_red: #640e10;

$almost_white: #fcfcfc;
$white: #fff;


$twitter_color: #4099ff;
$facebook_color: #3B5998;
$tumblr_color: #32506d;
$youtube_color: #bb0000;
$google_color: #dd4b39;
$pinterest_color: #cb2027;
$instagram_color: #125688;
$rss_color: #ff6600;



