  .well
    h4.strong
      |This form is for planning the  Wedding and Reception only...
    |Use a separate template to plan the Rehearsal Dinner, Brunch, Welcome Cocktails, Engagement Party or Gift Shower. You can link related Projects later.