.twitter-color {color: $twitter_color}
.facebook-color {color: $facebook_color}


.label {font-size: 11px; letter-spacing: 1px; text-transform: uppercase; font-weight: 400; margin-left: auto; }
.badge-accepted, .label-accepted { background: $md_green;}
.badge-pending, .label-pending, .icon-pending, .badge-maybe, .label-maybe {background: $md_orange;}
.badge-declined, .label-declined {background: $md_violet;}
.badge-unseen, .label-unseen {background: $md_red}
.icon-declined {color: $md_violet}
.icon-unseen {color: $md_red}
.icon-maybe {color: $md_orange}
.icon-accepted {color:$md_green}

.dk-gray {color: #999;}
.bg-dk-gray {background: #999}


.lt-gray {
color:	$lt_gray;
}

.md-gray {
color:	$md_gray;
}
.bg-xtra-lt-aqua {
	background: $xlt_aqua;
}
.bg-lt-aqua {
	background: $lt_aqua;
}
.bg-md-aqua {
	background: $md_aqua;


}
.bg-dk-aqua {
	background: $dk_aqua;
}
.bg-xtra-dk-aqua {
	background: $xdk_aqua;
}
.bg-xtra-lt-violet {
	background: $xlt_violet;
}
.bg-lt-violet {
	background: $lt_violet;
}
.bg-md-violet {
	background: $md_violet;
}
.bg-dk-violet {
	background: $dk_violet;
}
.bg-xtra-dk-violet {
	background: $xdk_violet;
}

.bg-xtra-lt-red {
	background: $xlt_red;
}
.bg-lt-red {
	background: $lt_red;
}
.bg-md-red {
	background: $md_red;
}
.bg-dk-red {
	background: #7f1418;
}
.bg-xtra-dk-red {
	background: #640e10;
}
.bg-xtra-lt-green { 
	background:#e9fee9;
}
.bg-lt-green { 
	background: #dbead3;
}
.bg-md-green {
	background: #418c41;
}
.bg-dk-green {
	background: #266b2c;
}
.bg-xtra-dk-green {
	background: #1b471f;
}
.bg-xtra-dk-gray {
	background: #333333;
}
.bg-dk-gray {
	background: #2B2B2B;
}
/* Text Color */

.super-xtra-lt-aqua {
	color: #ecf4f5;
}
.xtra-lt-aqua {
	color:$xlt_aqua;
}
.lt-aqua {
	color: $lt_aqua;
}
.md-aqua, .md-aqua a {
	color: $md_aqua;
}


.dk-aqua {
	color: $dk_aqua;
}
.xtra-dk-aqua {
	color: $xdk_aqua;
}
.xtra-lt-violet {
	color: $xlt_violet;
}
.lt-violet {
	color: $lt_violet;
}
.md-violet {
	color: #a9b4e1;
}
.dk-violet {
	color: $dk_violet;
}
.xtra-dk-violet {
	color: $xdk_violet;
}
.xtra-lt-gold {
	color: #fff4dd;
}
.lt-orange {
	color: $lt_orange;
}
.md-orange {
	color: $md_orange;
}
.dk-gold {
	color: #bf603b;
}
.xtra-dk-gold {
	color: #6c341b;
}
.xtra-lt-red {
	color: $xlt_red;
}
.lt-red {
	color: $lt_red;
}
.md-red {
	color: $md_red;
}
.md-red a {
	color: $md_red;
}
.dk-red {
	color: $dk_red;
}
.xtra-dk-red {
	color: $xdk_red;
}
.xtra-lt-green {
	color: $xlt_green;
}
.lt-green {
	color: $lt_green;
}
.md-green {
	color: $md_green;
}
.dk-green {
	color:$dk_green;
}
.xtra-dk-green {
	color: $xdk_green;
}


/* warning orange f0ad4e */



.badge {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-weight: normal;
	font-size: 11px;
	vertical-align: middle;
	display: inline-block;
	padding: 4px 4px  2px  3px ;
		text-align: center;
		text-transform:uppercase;
}
.badge-danger{
	background-color: #7F1418;
}

.status-badge {
	font-size:11px; padding: 4px 6px 4px 6px; text-transform:uppercase; 
	letter-spacing: 1.5px; font-style:none; vertical-align: middle;

}

.participant-badge {
	font-size:11px; padding: 2px 3px  2px 3px; text-transform:uppercase; 
	letter-spacing: 1.5px; font-style:none; vertical-align: middle;
		border-radius: 2px;

}



/*social buttons
*/
.btn a, a .btn {
	color: #fff;
}
.btn-google { 
  color: #fff; 
  background-color: #A30505; 
  border-color: #E80000; 
} 
 
.btn-google:hover, 
.btn-google:focus, 
.btn-google:active, 
.btn-google.active, 
.open .dropdown-toggle.btn-google { 
  color: #FFFFFF; 
  background-color: #F90101; 
  border-color: #E80000; 
} 
 
.btn-google:active, 
.btn-google.active, 
.open .dropdown-toggle.btn-google { 
  background-image: none; 
} 
 
.btn-google.disabled, 
.btn-google[disabled], 
fieldset[disabled] .btn-google, 
.btn-google.disabled:hover, 
.btn-google[disabled]:hover, 
fieldset[disabled] .btn-google:hover, 
.btn-google.disabled:focus, 
.btn-google[disabled]:focus, 
fieldset[disabled] .btn-google:focus, 
.btn-google.disabled:active, 
.btn-google[disabled]:active, 
fieldset[disabled] .btn-google:active, 
.btn-google.disabled.active, 
.btn-google[disabled].active, 
fieldset[disabled] .btn-google.active { 
  background-color: #F90101; 
  border-color: #E80000; 
} 
 
.btn-google .badge { 
  color: #F90101; 
  background-color: #FFFFFF; 
}

.btn-facebook { 
  color: #FFFFFF; 
  background-color: #3B5998; 
  border-color: #315094; 
} 
 
.btn-facebook:hover, 
.btn-facebook:focus, 
.btn-facebook:active, 
.btn-facebook.active, 
.open .dropdown-toggle.btn-facebook { 
  color: #FFFFFF; 
  background-color: #152D61; 
  border-color: #315094; 
} 
 
.btn-facebook:active, 
.btn-facebook.active, 
.open .dropdown-toggle.btn-facebook { 
  background-image: none; 
} 
 
.btn-facebook.disabled, 
.btn-facebook[disabled], 
fieldset[disabled] .btn-facebook, 
.btn-facebook.disabled:hover, 
.btn-facebook[disabled]:hover, 
fieldset[disabled] .btn-facebook:hover, 
.btn-facebook.disabled:focus, 
.btn-facebook[disabled]:focus, 
fieldset[disabled] .btn-facebook:focus, 
.btn-facebook.disabled:active, 
.btn-facebook[disabled]:active, 
fieldset[disabled] .btn-facebook:active, 
.btn-facebook.disabled.active, 
.btn-facebook[disabled].active, 
fieldset[disabled] .btn-facebook.active { 
  background-color: #3B5998; 
  border-color: #315094; 
} 
 
.btn-facebook .badge { 
  color: #3B5998; 
  background-color: #FFFFFF; 
}

/*end social buttons
*/.btn-green, .badge-green { 
  color:  #fff;
  background-color: $md_green; 
  border-color: $md_green; 
} 
 
.btn-green:hover, 
.btn-green:focus, 
.btn-green:active, 
.btn-green.active, 
.open .dropdown-toggle.btn-green { 
  color:  #fff;
  background-color: $md_green; 
  border-color: $md_green; 
} 
 
.btn-green:active, 
.btn-green.active, 
.open .dropdown-toggle.btn-green { 
  background-image: none; 
} 
.btn-aqua,
 .btn-aqua:active {
  color: $xlt_aqua;
  background-color: $md_orange;
  border-color: $dk_aqua;
}
 
.btn-green.disabled, 
.btn-green[disabled], 
fieldset[disabled] .btn-green, 
.btn-green.disabled:hover, 
.btn-green[disabled]:hover, 
fieldset[disabled] .btn-green:hover, 
.btn-green.disabled:focus, 
.btn-green[disabled]:focus, 
fieldset[disabled] .btn-green:focus, 
.btn-green.disabled:active, 
.btn-green[disabled]:active, 
fieldset[disabled] .btn-green:active, 
.btn-green.disabled.active, 
.btn-green[disabled].active, 
fieldset[disabled] .btn-green.active { 
  background-color: $lt_green; 
  border-color: $md_green; 
} 
 
.btn-green .badge { 
  color: $md_green; 
  background-color: $md_green; 
}
.btn-red {
	color: #fff;
	background-color: $md_red;
	border-color: $dk_red;
	font-weight: normal;
	font-size: 14px;
}
.btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red.active, .open .dropdown-toggle.btn-red {
	background-color: $dk_red;
	border-color: $xdk_red;
	color:  #fff;
}

.btn-clear {
  background-color: #fff;
  border-color: none;
  font-weight: normal;
  font-size: 14px;
  color: $md_gray;

}
.btn-clear:hover, .btn-clear:focus, .btn-clear:active, .btn-clear.active, .open .dropdown-toggle.btn-clear {
  background-color: $xlt_gray;
  border-color: $lt_gray;
  color: $lt_gray;
}

.btn-red:active, .btn-red.active, .open .dropdown-toggle.btn-red {
	background-image: none;
}
.btn-red.disabled, .btn-red[disabled], fieldset[disabled] .btn-red, .btn-red.disabled:hover, .btn-red[disabled]:hover, fieldset[disabled] .btn-red:hover, .btn-red.disabled:focus, .btn-red[disabled]:focus, fieldset[disabled] .btn-red:focus, .btn-red.disabled:active, .btn-red[disabled]:active, fieldset[disabled] .btn-red:active, .btn-red.disabled.active, .btn-red[disabled].active, fieldset[disabled] .btn-red.active {
	background-color: $lt_red;
	border-color: $md_red;
}
 .badge-red , .label-red  {
	color: $md_red;
	background-color: #ffffff;
}
// // .btn-padded {
// // 	margin-right: 14px;
// }
 .btn-aqua, .badge-aqua, .label-aqua{
	color: $xlt_aqua;
	background-color: $md_aqua;
	border-color: $dk_aqua;
}
.btn-aqua:hover, .btn-aqua:focus, .btn-aqua:active, .btn-aqua.active, .open .dropdown-toggle.btn-aqua {
	color: $xlt_aqua;
	background-color: $dk_aqua;
	border-color: $dk_aqua;
}
.btn-aqua:active, .btn-aqua.active, .open .dropdown-toggle.btn-aqua {
	background-image: none;
}
.btn-aqua.disabled, .btn-aqua[disabled], fieldset[disabled] .btn-aqua, .btn-aqua.disabled:hover, .btn-aqua[disabled]:hover, fieldset[disabled] .btn-aqua:hover, .btn-aqua.disabled:focus, .btn-aqua[disabled]:focus, fieldset[disabled] .btn-aqua:focus, .btn-aqua.disabled:active, .btn-aqua[disabled]:active, fieldset[disabled] .btn-aqua:active, .btn-aqua.disabled.active, .btn-aqua[disabled].active, fieldset[disabled] .btn-aqua.active {
	background-color: #lt_aqua;
	border-color: $dk_aqua;
}

// .badge-aqua {
// 	background-color: $md_aqua;
// 	color:#fff;
// }

.badge-gray {
	background-color: #md_gray;
	color:#fff;
}
.btn-gold {
	color: #BF603B;
	background-color: #FFE9B2;
	border-color: #BF603B;
}
.btn-gold:hover, .btn-gold:focus, .btn-gold:active, .btn-gold.active, .open .dropdown-toggle.btn-gold {
	color: #BF603B;
	background-color: #F37243;
	border-color: #BF603B;
}
.btn-gold:active, .btn-gold.active, .open .dropdown-toggle.btn-gold {
	background-image: none;
}
.btn-gold.disabled, .btn-gold[disabled], fieldset[disabled] .btn-gold, .btn-gold.disabled:hover, .btn-gold[disabled]:hover, fieldset[disabled] .btn-gold:hover, .btn-gold.disabled:focus, .btn-gold[disabled]:focus, fieldset[disabled] .btn-gold:focus, .btn-gold.disabled:active, .btn-gold[disabled]:active, fieldset[disabled] .btn-gold:active, .btn-gold.disabled.active, .btn-gold[disabled].active, fieldset[disabled] .btn-gold.active {
	background-color: #FFE9B2;
	border-color: #BF603B;
}
.btn-gold .badge {
	color: #FFE9B2;
	background-color: #BF603B;
}
.btn-violet { 
  color: #FFFFFF; 
  background-color: #95A4BB; 
  border-color: #70768F; 
} 
 
.btn-violet:hover, 
.btn-violet:focus, 
.btn-violet:active, 
.btn-violet.active, 
.open .dropdown-toggle.btn-violet { 
  color: #FFFFFF; 
  background-color: $md_violet; 
  border-color: $dk_violet; 
} 
 
.btn-violet:active, 
.btn-violet.active, 
.open .dropdown-toggle.btn-violet { 
  background-image: none; 
} 
 
.btn-violet.disabled, 
.btn-violet[disabled], 
fieldset[disabled] .btn-violet, 
.btn-violet.disabled:hover, 
.btn-violet[disabled]:hover, 
fieldset[disabled] .btn-violet:hover, 
.btn-violet.disabled:focus, 
.btn-violet[disabled]:focus, 
fieldset[disabled] .btn-violet:focus, 
.btn-violet.disabled:active, 
.btn-violet[disabled]:active, 
fieldset[disabled] .btn-violet:active, 
.btn-violet.disabled.active, 
.btn-violet[disabled].active, 
fieldset[disabled] .btn-violet.active { 
  background-color: $lt_violet; 
  border-color: $md_violet; 
} 
 

.badge-violet, .label-violet {
	color: #fff;
	background-color: $md_violet;
}
.badge-lt-violet {
	color: $dk_violet;
	background-color: $lt_violet;
}
.btn-green {
	color: #296129;
	background-color: #DBEAD3;
	border-color: #418C41;
}
.btn-green .btn-block {
	color: #296129;
	background-color: #DBEAD3;
	border-color: #418C41;
}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-green {
	color: #296129;
	background-color: #418C41;
	border-color: #418C41;
}
.btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-green {
	background-image: none;
}
.btn-green.disabled, .btn-green[disabled], fieldset[disabled] .btn-green, .btn-green.disabled:hover, .btn-green[disabled]:hover, fieldset[disabled] .btn-green:hover, .btn-green.disabled:focus, .btn-green[disabled]:focus, fieldset[disabled] .btn-green:focus, .btn-green.disabled:active, .btn-green[disabled]:active, fieldset[disabled] .btn-green:active, .btn-green.disabled.active, .btn-green[disabled].active, fieldset[disabled] .btn-green.active {
	background-color: #DBEAD3;
	border-color: #418C41;
}
.btn-green .badge {
	color: #DBEAD3;
	background-color: #296129;
}

.badge-pending {
	background: #FF8700;
	padding: 3px 8px 3px 8px;
	color: #fff;
	border-radius: 2px;
	margin-top: 15px;
}

.btn-orange  { 
  color: #fff; 
  background-color: $md_orange; 
  border-color: $dk_orange; 
} 
 
.btn-orange:hover, 
.btn-orange:focus, 
.btn-orange:active, 
.btn-orange.active, 
.open .dropdown-toggle.btn-orange { 
  color: #fff; 
  background-color: $dk_orange; 
  border-color: $dk_orange; 
} 
 
.btn-orange:active, 
.btn-orange.active, 
.open .dropdown-toggle.btn-orange { 
  background-image: none; 
} 
 
.btn-orange.disabled, 
.btn-orange[disabled], 
fieldset[disabled] .btn-orange, 
.btn-orange.disabled:hover, 
.btn-orange[disabled]:hover, 
fieldset[disabled] .btn-orange:hover, 
.btn-orange.disabled:focus, 
.btn-orange[disabled]:focus, 
fieldset[disabled] .btn-orange:focus, 
.btn-orange.disabled:active, 
.btn-orange[disabled]:active, 
fieldset[disabled] .btn-orange:active, 
.btn-orange.disabled.active, 
.btn-orange[disabled].active, 
fieldset[disabled] .btn-orange.active { 
  background-color: $lt_orange; 
  border-color: $dk_orange; 
} 
 
.badge-orange {
	  color: #FFFFFF; 
  background-color: $md_orange; 

}

.btn-orange-alt { 
  color: $md_orange; 
  background-color: #FFFFFF; 
  border-color: $md_orange; 
  	font-family: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important;
font-weight: 600;
} 
 
.btn-orange-alt:hover, 
.btn-orange-alt:focus, 
.btn-orange-alt:active, 
.btn-orange-alt.active, 
.open .dropdown-toggle.btn-orange-alt { 
  color: $xlt_orange; 
  background-color: $dk_orange; 
  border-color: $md_orange; 
} 
 
.btn-orange-alt:active, 
.btn-orange-alt.active, 
.open .dropdown-toggle.btn-orange-alt { 
  background-image: none; 
} 
 
.btn-orange-alt.disabled, 
.btn-orange-alt[disabled], 
fieldset[disabled] .btn-orange-alt, 
.btn-orange-alt.disabled:hover, 
.btn-orange-alt[disabled]:hover, 
fieldset[disabled] .btn-orange-alt:hover, 
.btn-orange-alt.disabled:focus, 
.btn-orange-alt[disabled]:focus, 
fieldset[disabled] .btn-orange-alt:focus, 
.btn-orange-alt.disabled:active, 
.btn-orange-alt[disabled]:active, 
fieldset[disabled] .btn-orange-alt:active, 
.btn-orange-alt.disabled.active, 
.btn-orange-alt[disabled].active, 
fieldset[disabled] .btn-orange-alt.active { 
  background-color: #FFFFFF; 
  border-color: $lt_orange; 
} 
 
.btn-orange-alt .badge { 
  color: #FFFFFF; 
  background-color: $md_orange; 
}

.jumbo-button {
	font-size:30px; width: 250px; border-width: 3px; margin-right:auto; margin-left:auto;
	color: #fff;
}

.jumbo-button a, a .jumbo-button {
	color: #fff;
}

.btn-default {
	background: $xlt_gray;
	color: $md_gray;
}

.btn-default  a, a .btn-default {
	color:  $md_gray;
}


@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
}
  .btn-demo {
        margin-bottom: 20px;
    }

    .jumbo-button  {
    	margin: 0 10px;
    }
@media screen and (max-width: 320px) {
}
